:root {
    padding: 0;
    margin: 0;
--primary-background-color: rgb(220, 198, 165);
--title-font-family: london;
--paragraph-font-family: chamsbold;
--desktop-titles-font-size: 2.2rem;
--desktop-paragraph-font-size: 1.6rem;
--mobile-titles-font-size: 1.1rem;
--mobile-paragraph-font-size: 0.7rem;

}

@font-face {
    font-family: 'chamsbold';
    src: url('./chamsbold.ttf') format('truetype'),
         url('./chamsbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'london';
    src: url('./Lora-SemiBold.ttf') format('truetype'),
         url('./Lora-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
body {
    font-family: var(--paragraph-font-family);
    /* background: linear-gradient(135deg, #b3b4ff43, #FFB3B3); */
    background-color: var(--primary-background-color);
    color: black;
    width: 98vw;
    text-align: center;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 10px solid black; */
}
.titles {
    font-family: var(--title-font-family);
    color: var(--primary-background-color);
    font-size: var(--desktop-titles-font-size);
}
#nav-container ul {
display: flex;
justify-content: center;
align-items: center;
column-gap: 5vw;

}
#nav-container li {
    font-size: 1.4rem;
text-transform: lowercase;
    list-style-type: none;
    
    /* padding: 2vw; */
    border-radius: 6px;
    /* border: 2px solid yellowgreen;     */
    cursor: pointer;
}
#nav-container a {
    text-decoration: none;
    color: black;
}
/* #nav-container li:hover {
color: black;

} */
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 10px solid white; */
    padding: 0;
    margin: 0;
    row-gap: 50px;
}
#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: left;
}
#img-container {
width: 100%;
height: auto;
}
#img-container video {
background-size: contain;
    background-position: center;
    width: 100%;
    border-radius: 25px;
}
#description-container #text-container {
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
    
}
.home-logo {
    width: 50%;
    height: auto;
    /* border: 5px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-logo img {
    /* border: 2px solid black; */
    object-fit: contain;
    object-position: center;
} 
@media (max-width: 1000px) {
    .home-logo {
        width: 100px;
        align-self: center;
    }
    .titles {
        font-size: var(--mobile-titles-font-size);
    }
    #paragraph-description {
        font-size: 0.9rem;
    }
    .paragraphs {
        font-size: var(--mobile-paragraph-font-size);
    }
#section-2-parent-container {
    padding: 0;
}
#section-2-text-container {
    width: 100%;
}

    #section-3-text-container a {
/* font-size: var(--mobile-paragraph-font-size); */
font-size: 0.7rem;
padding: 0;
padding-bottom: 20px;
border: none;
    }
    #section-3-text-container {
        
    }
    
    
    
}

#text-container h1 {    
    text-transform: lowercase;
padding: auto;
margin-bottom: 10%;
}
#text-container p {    
    text-transform: lowercase;
text-align: center;
opacity: 0.7;
padding: auto;
margin-bottom: 20%;
color: white;
}
.bio {
    background: linear-gradient(135deg, #fbfafd, #f5deb3);    
}
#section-2-parent-container {
    width: 80vw;
    height: auto;
    /* margin-left: auto;
    margin-right: auto;  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: right;
    padding: 100px 0 200px;
}
/* #section-2-parent-container:hover {
border-left: 15px solid #7315cb;
} */
#section-2-image-container {
    width: 80%;
    height: auto;
    padding-left: 20%;
    
}
#section-2-image-wrapper {
    width: 40%;
    height: auto;
    
}
#section-2-image-wrapper img {
    /* background-size: contain; */
    background-position: center;
    width: 100%;
    border-radius: 55%;
}
#section-2-text-container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    */
    width: 50%;
    height: auto;
display: flex;
flex-direction: column;
    
}
#section-2-paragraph-1 {
font-style: italic;
opacity: 0.7;

}
#section-2-text-container button {
    padding: 20px;
    cursor: pointer;
    background-color: var(--primary-background-color);
    margin-left: auto;
    margin-right: auto;
border: none;
text-align: center;
text-decoration: none;

    }
    #section-2-text-container button:hover {
        background-color: black;
        color: var(--primary-background-color);
        
        }
#section-2-text-container a {

text-decoration: none;
color: black;
}
#section-2-text-container a:hover {

    color: var(--primary-background-color);
    
    
    }
#section-2-title {
    color: black;
    
}
#section-2-paragraph {
    color: black;
font-size: var(--desktop-paragraph-font-size);
opacity: 0.7;    
}

#section-3-parent-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto; 
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */
    position: relative;
    text-align: left;
    
/* border: 10px solid blueviolet; */
}
#section-3-image-wrapper {
    width: 100%;
    height: 100%;
/* border: 3px solid black; */
/* background-image: url('./section3image.JPG'); */


}
#section-3-image-wrapper img {

object-fit: repeat;
object-position: center;
}
#section-3-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    
}
#section-3-paragraph-1 {
    color: var(--primary-background-color);
}
#section-3-title {
    color: white;
    
}
#span-1 {
    color: var(--primary-background-color);
    background-color: rgba(0, 0, 0, 0.6);
}
#section-3-paragraph {
    color: white;

background-color: rgba(0, 0, 0, 0.3);
padding: 2px 2px;
box-shadow: 0 0 5px 2px rgba(255, 255, 0, 0.5);
margin-bottom: 24px;

}
#section-3-text-container a {
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-background-color);
    

    }

#section-4-parent-container {
    width: 80vw;
    height: 600px;    
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: left;
    
    
}
#section-4-text-container {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
background: linear-gradient(135deg, #DAB3FF, #FFB3B3);
padding: 40px 80px;
border-radius: 5px;
text-align: center;
width: 60%;
height: auto;
}
#section-4-paragraph {
    opacity: 0.7;
font-size: var(--desktop-paragraph-font-size);
 font-style: italic;   
 
}
#section-4-title {
    color: black;

margin-bottom: 40px;
    
}
#section-4-text-container a {
border: 2px solid black;
padding: 10px;
cursor: pointer;
text-decoration: none;
color: black;

}
#section-5-parent-container {
    width: 80vw;
    height: 600px;
    background-color: white;    
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: left;
    /* margin-top: -100px; */

}
#section-5-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
opacity: 0.8;
    
}
#section-5-text-container:hover {
border-left: 5px solid black;
padding-left: 20px;
}

#section-5-title {
    color: black;
font-size: 2.2rem;
    
}
#section-5-paragraph {
    color: black;
font-size: 1.2rem;
    
}

#section-6-parent-container {
    width: 80vw;
    height: 600px;
    
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: left;
    /* margin-top: -100px; */

}
#section-6-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
opacity: 0.8;
    
}
#section-6-text-container:hover {
    border-left: 5px solid black;
    padding-left: 20px;
    }

#section-6-title {
    color: black;
font-size: 2.2rem;
    
}
#section-6-paragraph {
    color: black;
font-size: 1.2rem;
    
}

#section-7-parent-container {
    width: 100vw;
    height: 800px;
    background-color: var(--primary-background-color);
    /* margin-left: auto; */
    margin-right: auto; 
    display: flex;
    /* justify-content: center;
    align-items: center; */
    
    position: relative;
    text-align: left;
    

}
#section-7-image-container {
    width: 60%;
    height: auto;
border: 3px solid black;    

}
#section-7-image-wrapper {
    width: 100%;
    height: 100%;
    background-image: url('section7image.jpg');
    background-size: contain;
    border: 3px solid black;    
opacity: 0.9;
    
    background-position: center;
    
}
#section-7-image-wrapper img {
 /* object-fit: cover; */
    
    width: 100%;
    height: auto;

}
#section-3-image-wrapper img {
    /* object-fit: cover; */
       
       width: 100%;
       height: auto;
   
   }
#section-7-text-container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0 100px;
background: linear-gradient(135deg, #DAB3FF, #FFB3B3);    
/* padding: 30px; */
}

#section-7-title {
    color: black;
    
}
#section-7-paragraph {
    color: black;

    
} 
#section-7-text-container li {
    margin-bottom: 20px;
}

#section-8-parent-container {
    width: 80vw;
    height: auto;
    background: linear-gradient(90deg, #DABFFF, #B3FFD6);
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: left;
    
}
#section-8-cards-container {

width: 80%;
height: auto;
background-color: rgbA(245, 222, 179, 0.3);
display: flex;
flex-direction: row;
flex-wrap: wrap;
overflow:auto;

}
.card-item {
    height: auto;
    width: 50%;
    /* background-color: wheat; */
    font-size: 1.3rem ;
    
}
@media (max-width: 800px) {
.card-item {
    width: 100%;
}
}
#eye-icon {
    width: 200px;
    height: auto;
    
}
.card-item h5 {
    font-size: 2rem;
    font-family: var(--title-font-family);
}

#section-9-parent-container {
    width: 100vw;
    height: 800px;
    background: linear-gradient(135deg, #B3FFD9, #8e32e5);
    margin-left: auto;
    margin-right: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: left;
    

}
#section-9-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
height: auto;
    
}

#section-9-title {
    color: black;

    
}
#section-9-text-container h6 {
font-size: 1.2rem;
color: black;

}
#section-9-text-container a {
    font-size: 1.2rem;
    color: black;
    
    }
#section-9-socials-container {
    display: flex;
    flex-direction: column;
    row-gap: 50;

}
.socials-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    column-gap: 20px;
    

}
.socials-wrapper a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}

.socials {
    width: 50px;
    height: auto;
}
